<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>MENU ITEMS</h1>
    <% for (var i in menuItems) { %>
        <p><%= menuItems[i].MenuItemId %>: <%= menuItems[i].Name %>, $<%= menuItems[i].Price %>, Category: <%= menuItems[i].Category %></p>
    <% } %>
</body>